{%- set clickhouse_repo = salt['grains.filter_by']({
    'Debian': {
        'humanname': 'ClickHouse official repo',
        'name': 'deb http://repo.yandex.ru/clickhouse/deb/stable/ main/',
        'keyid': 'E0C56BD4',
        'keyserver': 'keyserver.ubuntu.com',
    },
    'RedHat': {
        'name': 'clickhouse_yandex',
        'baseurl': 'https://repo.yandex.ru/clickhouse/rpm/stable/x86_64',
        'humanname': 'Yandex ClickHouse repo',
        'gpgkey': 'https://repo.yandex.ru/clickhouse/CLICKHOUSE-KEY.GPG',
        'gpgcheck': True,
    },
}, grain='os_family', merge=salt['pillar.get']('clickhouse:repo')) %}

{%- set clickhouse_server = salt['grains.filter_by']({
    'default': {
    'config_dir': '/etc/clickhouse-server/',
    }, 
}, merge=salt['pillar.get']('clickhouse:server'), base='default') %} 

{%- set clickhouse_packages = salt['grains.filter_by']({
    'default': {
    'server': 'clickhouse-server',
    'client': 'clickhouse-client',
    'version': salt['pillar.get']('clickhouse:packages:version'),
    },
    'Debian': {'additional_packages': ['clickhouse-common-static']},
    'RedHat': {'additional_packages': ['clickhouse-common-static', 'clickhouse-server-common']},
}, grain='os_family', base='default') %}

{# for future use #}
{# {%- set clickhouse_client_config = salt['pillar.get']('clickhouse:client').get('') %} #}

{%- set clickhouse_users = clickhouse_server.get('users') %}

