{%- load_yaml as repo %}
Debian:
  humanname: ClickHouse official repo
  name: deb [signed-by=/usr/share/keyrings/clickhouse-keyring.gpg] https://packages.clickhouse.com/deb stable main
  file: /etc/apt/sources.list.d/clickhouse.list
  clean_file: True
RedHat:
  name: clickhouse
  baseurl: https://packages.clickhouse.com/rpm/stable/
  humanname: ClickHouse - Stable Repository
  gpgkey: https://packages.clickhouse.com/rpm/stable/repodata/repomd.xml.key
  gpgcheck: False
  repo_gpgcheck: True
{%- endload %}

{%- load_yaml as server %}
default:
  config_dir: /etc/clickhouse-server
  restart_on_config_change: false
{%- endload %}

{%- load_yaml as packages %}
default:
  server: clickhouse-server
  client: clickhouse-client
  additional_packages: 
  - clickhouse-common-static
{%- endload %}

{%- load_yaml as client %}
default:
  config_dir: /etc/clickhouse-client
RedHat:
  config:
    openSSL:
      client:
        caConfig: /etc/pki/tls/cert.pem
{%- endload %}

{%- set clickhouse_repo = salt['grains.filter_by'](repo, grain='os_family', merge=salt['pillar.get']('clickhouse:repo')) %}

{%- set clickhouse_server = salt['grains.filter_by'](server, merge=salt['pillar.get']('clickhouse:server'), base='default') %}

{%- set clickhouse_packages = salt['grains.filter_by'](packages, merge=salt['pillar.get']('clickhouse:packages'), grain='os_family', base='default') %}

{%- set clickhouse_users = clickhouse_server.get('users') %}

{%- set clickhouse_client = salt['grains.filter_by'](client, grain='os_family', merge=salt['pillar.get']('clickhouse:client'), base='default') %}
