<!-- ###################################################################### -->
<!-- Cooked by SaltStack. Don't change it by hands, it will be overwritten. -->
<!-- ###################################################################### -->
{%- from "clickhouse/maps/xml.jinja" import block with context %}

<yandex>
    <users>
        <{{ user_name }}>
            {%- if 'password' in clickhouse_user and 'password_sha256_hex' in clickhouse_user -%}
              {{ raise('Both "password" and "password_sha256_hex" found in pillar.') }}
            {%- else -%}
            {%- for key,value in clickhouse_user.iteritems() -%}
              {%- if key == 'password' -%}
                {%- set value = value | sha256 -%}
                {%- set key = 'password_sha256_hex' -%}
              {%- endif -%}
              {{ block(key=key,value=value,spaces=13) }}
            {%- endfor -%}
            {%- endif %}
        </{{ user_name }}>
    </users>
</yandex>
